/* styles.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, select, input, button, textarea, span {
  font-family: 'Inter', sans-serif; /* ou a fonte desejada */
  background-color: #f9f9f9; /* opcional */
  color: #333; /* cor padrão do texto */
}
